{% extends 'backoffice/backoffice_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-12">
        <div class="row">
            <form class="row" method="post" enctype="multipart/form-data" id="create_product_form">
                {% csrf_token %}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Товар
                        </div>
                        <div class="card-body">
                            {{ form|crispy }}
                        </div>
                    </div>

                </div>
                {% if object %}


                    <div class="col-6">

                        <div class="card">
                            <div class="card-header">
                                Версии
                            </div>
                            <div class="card-body">
                                <div class="list-group list-group-radio d-grid gap-3 border-0">
                                    {{ formset.management_form }}
                                    {% for form in formset.forms %}
                                        {% if forloop.last %}
                                            <hr>
                                            <p>Добавить новую версию:</p>
                                        {% endif %}
                                        <div class="position-relative">

                                            <label for="is_selected_{{ forloop.counter }}"
                                                   class="list-group-item py-3 pe-5">
                                                <input name="is_selected" id="is_selected_{{ forloop.counter }}"
                                                       type="radio" data-version-pk="{{ form.instance.pk }}"
                                                       value="{{ form.instance.pk }}"
                                                       class="form-check-input position-absolute top-50 end-0 me-3 fs-5"
                                                        {% if form.instance.is_active and form.instance.pk %}
                                                       checked
                                                        {% endif %}
                                                        {% if not form.instance.pk %}
                                                       disabled
                                                        {% endif %} >
                                                <div class="d-flex gap-2 w-100 justify-content-between">
                                                    {{ form|crispy }}
                                                </div>

                                            </label>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>

                {% endif %}
                {# Submit #}
                <div class="form-submit mt-5">
                    <button class="btn btn-primary" type="submit" id="form-submit"><i
                            class="material-icons mdi mdi-message-outline"></i>{% if product %}
                        Сохранить изменения
                    {% else %}
                        Создать товар
                    {% endif %}
                    </button>
                    <div id="submit" class="h3 text-center hidden"></div>

                    {% if object %}
                        <a href="{% url 'backoffice:delete_product' object.pk %}" class="btn btn-danger">Удалить
                            товар</a>
                    {% endif %}

                </div>
            </form>
        </div>


    </div>

    <!-- Confirmation message -->
    {% if messages %}
        <br>
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}