{% extends 'backoffice/backoffice_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-12">
        <div class="row">
            <form class="row" method="post" enctype="multipart/form-data" id="create_product_form">
                {% csrf_token %}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Товар
                        </div>
                        <div class="card-body">
                            {{ form|crispy }}
                        </div>
                    </div>

                </div>
                {% if object %}


                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                Версии
                            </div>
                            <div class="card-body">
                                <div class="list-group">
                                    {{ formset.management_form }}
                                    {% for form in formset.forms %}
                                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3 my-2 shadow-sm"
                                             aria-current="true">
                                            <div class="d-flex gap-2 w-100 justify-content-between">
                                                <div>
                                                    {{ form|crispy }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>

                {% endif %}
                {# Submit #}
                <div class="form-submit mt-5">
                    <button class="btn btn-primary" type="submit" id="form-submit"><i
                            class="material-icons mdi mdi-message-outline"></i>{% if product %}
                        Сохранить изменения
                    {% else %}
                        Создать товар
                    {% endif %}
                    </button>
                    <div id="submit" class="h3 text-center hidden"></div>

                    {% if object %}
                        <a href="{% url 'backoffice:delete_product' object.pk %}" class="btn btn-danger">Удалить
                            товар</a>
                    {% endif %}

                </div>
            </form>
        </div>


    </div>

    <!-- Confirmation message -->
    {% if messages %}
        <br>
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>


{% endblock %}