{% extends 'backoffice/backoffice_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-4">
        <form method="post" enctype="multipart/form-data" id="create_product_form">
            {% csrf_token %}

            {{ form|crispy }}

            {# Submit #}
            <div class="form-submit mt-5">
                <button class="btn btn-primary" type="submit" id="form-submit"><i
                        class="material-icons mdi mdi-message-outline"></i>{% if product %}
                    Сохранить изменения
                {% else %}
                    Создать товар
                {% endif %}
                </button>
                <div id="submit" class="h3 text-center hidden"></div>

                {% if object %}
                    <a href="{% url 'backoffice:delete_product' object.pk %}" class="btn btn-danger">Удалить товар</a>
                {% endif %}

            </div>

        </form>
        <!-- Confirmation message -->
        {% if messages %}
            <br>
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


{% endblock %}